@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;700&display=swap");
.mt8 {
  margin-top: 8px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.mt48 {
  margin-top: 48px !important;
}

.mt60 {
  margin-top: 60px !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #111;
}

img {
  max-width: 100%;
}

#header {
  position: relative;
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 127px;
}
#header .logo {
  margin-left: 24px;
}
#header .header-right {
  flex-basis: 80%;
  margin-left: auto;
  text-align: right;
  font-size: 1.375rem;
}
#header .header-right .jpn {
  font-family: "Montserrat";
}
#header .header-right .sign {
  margin-top: 16px;
}
#header #gnb {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-top: 1px solid rgba(9, 1, 3, 0.28);
  text-align: left;
}
#header #gnb .bg-depth2 {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 11;
}
#header #gnb .depth1 {
  position: relative;
  flex-basis: 20%;
  padding: 40px 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.875rem;
}
#header #gnb .depth1 .depth2 {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 12;
  width: 100%;
  font-weight: 400;
  text-align: left;
}
#header #gnb .depth1 .depth2 .link {
  display: block;
  margin-top: 28px;
  font-size: 1.5rem;
  color: #fff;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 200px;
}
#footer .sns {
  flex-basis: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(9, 1, 3, 0.28);
  font-size: 1.5rem;
}
#footer .sns > a {
  font-family: "Montserrat";
}
#footer .sns > a + a {
  margin-left: 28px;
}
#footer .logo {
  margin-top: 52px;
}
#footer .info-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 356px;
  margin-top: 52px;
  font-size: 1.375rem;
}
#footer .info-time .title {
  font-weight: 700;
}
#footer .info-time .weekend {
  flex-basis: 100%;
  margin-top: 16px;
  text-align: right;
}

#floating-banner {
  position: fixed;
  z-index: 99;
  top: 320px;
  right: 64px;
}
#floating-banner .btn-wrap .btn {
  display: block;
  background-color: #fff;
  border-radius: 50%;
}
#floating-banner .btn-wrap .btn + .btn {
  margin-top: 20px;
}
#floating-banner .btn-wrap .btn.top {
  margin-top: 20px;
}
#floating-banner .btn-wrap .expand {
  margin-top: 20px;
}

.btn {
  display: block;
}

.swiper-area {
  position: relative;
  overflow: hidden;
}
.swiper-area .swiper-button-next,
.swiper-area .swiper-button-prev {
  width: auto;
  height: auto;
  color: #a0a0a0;
}
.swiper-area .swiper-button-next::after,
.swiper-area .swiper-button-prev::after {
  font-size: 76px;
}
.swiper-area .swiper-button-prev {
  left: 24px;
}
.swiper-area .swiper-button-next {
  right: 24px;
}

#content-container {
  margin: 0 auto;
}
#content-container.main {
  max-width: 1320px;
}
#content-container.main .swiper-area.main .swiper-button-prev,
#content-container.main .swiper-area.main .swiper-button-next,
#content-container.main .swiper-area.main .swiper-pagination {
  opacity: 0;
  transition: opacity 0.3s;
}
#content-container.main .swiper-area.main:hover .swiper-button-prev,
#content-container.main .swiper-area.main:hover .swiper-button-next,
#content-container.main .swiper-area.main:hover .swiper-pagination {
  opacity: 1;
}
#content-container.main .slogan {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 600;
}
#content-container.main .accordion-area {
  border-top: 18px solid #111;
  border-bottom: 18px solid #111;
}
#content-container.main .accordion-area .accordion {
  position: relative;
}
#content-container.main .accordion-area .accordion .accordion-header {
  position: relative;
  border-top: 1px solid rgba(9, 1, 3, 0.28);
  border-bottom: 1px solid rgba(9, 1, 3, 0.28);
  padding: 44px 88px;
  font-family: "Montserrat";
  font-size: 2.0625rem;
  font-weight: 600;
}
#content-container.main .accordion-area .accordion .accordion-header::marker {
  font-size: 0;
}
#content-container.main .accordion-area .accordion[open] .accordion-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  background-color: #c5ff00;
}
#content-container.main .accordion-area .accordion .accordion-body {
  position: relative;
  overflow: hidden;
  transition: height 0.3s;
}
#content-container.main .accordion-area .accordion .accordion-body.onair {
  text-align: center;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .bg-onair {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .title {
  display: block;
  padding-top: 32px;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .swiper-slide img {
  width: 100%;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .swiper-button-prev,
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .swiper-button-next {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: auto;
  height: auto;
  margin-top: auto;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .swiper-button-prev::after,
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .swiper-button-next::after {
  content: none;
}
#content-container.main .accordion-area .accordion .accordion-body.onair .swiper-area .btn-wrap {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  padding-bottom: 32px;
}
#content-container.main .accordion-area .accordion .accordion-body.academy {
  display: flex;
  gap: 0 24px;
}
#content-container.main .accordion-area .accordion .accordion-body.academy .box-exam {
  width: calc(100% - 24px);
  background-color: rgba(183, 183, 183, 0.2);
  text-align: right;
}
#content-container.main .accordion-area .accordion .accordion-body.academy .box-exam .title {
  margin-top: 42px;
  text-align: center;
}
#content-container.main .accordion-area .accordion .accordion-body.academy .box-exam .subtitle {
  margin-top: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(9, 1, 3, 0.28);
  font-size: 30px;
  text-align: center;
}
#content-container.main .accordion-area .accordion .accordion-body.academy .box-exam .img-wrap {
  margin: 20px;
}
#content-container.main .accordion-area .accordion .accordion-body.academy .box-exam .img-wrap img {
  width: 100%;
}
#content-container.main .accordion-area .accordion .accordion-body.audition {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#content-container.main .popup-youtube {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#content-container.greetings .img-wrap.inner {
  margin: 0 auto;
  max-width: 1320px;
}
#content-container.greetings .img-wrap.bt {
  border-top: 1px solid rgba(9, 1, 3, 0.28);
}
#content-container.greetings .img-wrap.center {
  text-align: center;
}
#content-container.greetings .img-wrap.mt100 {
  margin-top: 100px;
}
#content-container.greetings .img-wrap.mt132 {
  margin-top: 132px;
}
#content-container.greetings .img-wrap.part2 {
  margin-top: 100px;
  background-color: #000;
}
#content-container.greetings .img-wrap.part2 .title {
  padding-top: 52px;
}
#content-container.greetings .img-wrap.part2 .before {
  margin-bottom: 84px;
}
#content-container.greetings .img-wrap.part2 .expand {
  margin: 0 auto;
  padding-bottom: 100px;
  transition: height 0.3s;
}

#content-container.facility {
  margin: 0 auto;
  max-width: 1320px;
}
#content-container.facility .facility-wrap {
  padding: 48px 0;
  background-color: #000;
  text-align: center;
}
#content-container.facility .facility-wrap .swiper-area.main .swiper-button-prev,
#content-container.facility .facility-wrap .swiper-area.main .swiper-button-next {
  color: #ceff00;
}
#content-container.facility .facility-wrap .swiper-area.main .swiper-button-prev {
  left: 44px;
}
#content-container.facility .facility-wrap .swiper-area.main .swiper-button-next {
  right: 44px;
}
#content-container.facility .facility-wrap .thumbnail-area {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 80px;
}
#content-container.facility .facility-wrap .thumbnail-area img {
  width: calc((100% - 72px) / 4);
}
#content-container.facility .facility-wrap .logo-bottom {
  width: 200px;
  margin-top: 44px;
}

#content-container.way {
  max-width: 1320px;
  margin: 0 auto;
}
#content-container.way .way-wrap {
  display: flex;
  gap: 0 24px;
}
#content-container.way .way-wrap .info-way {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#content-container.way .way-wrap .info-way .marker {
  width: 55px;
}
#content-container.way .way-wrap .info-way .title {
  font-size: 32px;
  font-weight: 700;
}
#content-container.way .way-wrap .info-way .title .eng {
  display: block;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
}
#content-container.way .way-wrap .info-way .content {
  font-size: 18px;
}
#content-container.way .way-wrap .info-way .content.eng {
  font-family: "Montserrat";
}
#content-container.way .way-wrap .info-way .bar {
  width: 200px;
  height: 8px;
  background-color: #000;
}
#content-container.way .way-wrap .info-way .icon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#content-container.way .way-wrap .info-way .icon-wrap li {
  display: flex;
  align-items: center;
}
#content-container.way .way-wrap .info-way .icon-wrap li img {
  width: 88px;
}
#content-container.way .way-wrap .info-way .icon-wrap li img + p {
  margin-left: 24px;
  font-size: 22px;
  color: #525252;
}