<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>onmusic</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script defer src="script/script.js" type="module"></script>
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
  <div class="body-container">
    <header id="header">
      <h1 class="logo">
        <a href="/">
          <img src="img/common/logo_header.png" alt="main logo">
        </a>
      </h1>
      <div class="header-right">
        <a href="javascript:void(0)" class="jpn">( JPN )</a>
        <p class="sign">
          <a href="javascript:void(0)">로그인</a> /
          <a href="javascript:void(0)">회원가입</a> 
        </p>
        <div id="gnb">
            <div v-show="isOpenGnb" class="bg-depth2" @mouseover="openGnb(true)" @mouseleave="openGnb(false)"></div>
          <div v-for="(item, i) in gnb" :key="i" class="depth1" @mouseover="openGnb(true)" @mouseleave="openGnb(false)">
            {{ item.name }}
            <div v-show="isOpenGnb" class="depth2">
              <a v-for="(link, i) in item.depth2" :key="" :href="link.href" class="link">
                {{ link.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div id="content-container" class="facility">
        <div class="facility-wrap">
          <img src="./img/pages/about/facility/typo_title.png" alt="" class="title">
          <div class="swiper-area main mt48">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/4.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/5.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/6.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/7.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/8.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/9.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/10.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/11.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/12.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/13.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/14.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/15.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/16.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/17.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/pages/about/facility/18.jpg" alt="">
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
            <div class="thumbnail-area">
              <img src="./img/pages/about/facility/1.jpg" alt="">
              <img src="./img/pages/about/facility/2.jpg" alt="">
              <img src="./img/pages/about/facility/3.jpg" alt="">
              <img src="./img/pages/about/facility/4.jpg" alt="">
              <img src="./img/pages/about/facility/5.jpg" alt="">
              <img src="./img/pages/about/facility/6.jpg" alt="">
              <img src="./img/pages/about/facility/7.jpg" alt="">
              <img src="./img/pages/about/facility/8.jpg" alt="">
              <img src="./img/pages/about/facility/9.jpg" alt="">
              <img src="./img/pages/about/facility/10.jpg" alt="">
              <img src="./img/pages/about/facility/11.jpg" alt="">
              <img src="./img/pages/about/facility/12.jpg" alt="">
              <img src="./img/pages/about/facility/13.jpg" alt="">
              <img src="./img/pages/about/facility/14.jpg" alt="">
              <img src="./img/pages/about/facility/15.jpg" alt="">
              <img src="./img/pages/about/facility/16.jpg" alt="">
              <img src="./img/pages/about/facility/17.jpg" alt="">
              <img src="./img/pages/about/facility/18.jpg" alt="">
            </div>
          <img src="./img/pages/about/facility/logo_facility.png" alt="" class="logo-bottom">
        </div>
      </div>

      <script>
        const swiperFacility = new Swiper('.facility .swiper-area.main', {
          slidesPerView: 1,
          autoplay: {
            delay: 3000,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        })

        const thumbnailWrap = document.querySelector('.thumbnail-area');
        const thumbnails = thumbnailWrap.querySelectorAll('img');

        thumbnails.forEach((thumbnail, idx) => {
          thumbnail.addEventListener('click', () => swiperFacility.slideTo(idx))
        })
      </script>
    </main>
    <footer id="footer">
      <div class="sns">
        <a v-for="(item, i) in sns" :key="" :href="item.href">{{ item.name }}</a>
      </div>
      <h2 class="logo">
        <img src="img/common/logo_footer.png" alt="">
      </h2>
      <div class="info-time">
        <h3 class="title">
          운영시간
        </h3>
        <p class="weekday">
          평&nbsp;&nbsp;&nbsp;&nbsp;일&nbsp;PM&nbsp;1:00&nbsp;-&nbsp;PM&nbsp;&nbsp;10:00
        </p>
        <p class="weekend">
          토요일&nbsp;PM&nbsp;1:00&nbsp;-&nbsp;PM&nbsp;&nbsp;&nbsp;&nbsp;7:00
        </p>
      </div>
    </footer>
    <aside id="floating-banner">
      <div class="btn-wrap">
        <a href="javascript:void(0)" class="btn open" @click="openExpand">
          <img src="img/common/btn_open.png" alt="">
        </a>
        <transition name="dropdown">
          <div v-show="isExpand" class="expand">
            <a href="javascript:void(0)" class="btn consult">
              <img src="img/common/btn_consult.png" alt="">
            </a>
            <a href="javascript:void(0)" class="btn kakao">
              <img src="img/common/btn_kakao.png" alt="">
            </a>
            <a href="javascript:void(0)" class="btn plus">
              <img src="img/common/btn_plus.png" alt="">
            </a>
          </div>
        </transition>
        <a href="javascript:void(0)" class="btn top" @click="scrollTop">
          <img src="img/common/btn_top.png" alt="">
        </a>
      </div>
    </aside>
  </div>
</body>
</html>