<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>onmusic</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <script defer src="script/script.js" type="module"></script>
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
  <div class="body-container">
    <header id="header">
      <h1 class="logo">
        <a href="">
          <img src="" alt="main logo">
        </a>
      </h1>
      <div class="header-right">
        <a href="javascript:void(0)" class="jpn">( JPN )</a>
        <p class="sign">
          <a href="javascript:void(0)">로그인</a> /
          <a href="javascript:void(0)">회원가입</a> 
        </p>
        <div id="gnb" :class="{on: isOpenGnb}">
          <div v-for="(item, i) in gnb" :key="i" class="depth1">
            <span class="name" @mouseover="openGnb(true)" @mouseleave="openGnb(false)">{{ item.name }}</span>
            <div v-show="isOpenGnb" class="depth2">
              <a v-for="(link, i) in item.depth2" :key="" :href="link.href" class="link">
                {{ link.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div id="content-container">
        컨텐츠 영역
      </div>
    </main>
    <footer id="footer">
      <div class="sns">
        <a v-for="(item, i) in sns" :key="" :href="item.href">{{ item.name }}</a>
      </div>
      <h2 class="logo">footerLogo</h2>
      <div class="info-time">
        <h3 class="title">
          운영시간
        </h3>
        <p class="weekday">
          평일 PM 1:00 - PM 10:00
        </p>
        <p class="weekend">
          토요일 PM 1:00 - PM 7:00
        </p>
      </div>
    </footer>
    <aside id="rnb">
      {{ rnbText }}
    </aside>
  </div></body>
</html>