<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>onmusic</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script defer src="script/script.js" type="module"></script>
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
  <div class="body-container">
    <header id="header">
      <h1 class="logo">
        <a href="/">
          <img src="img/common/logo_header.png" alt="main logo">
        </a>
      </h1>
      <a href="javascript:void(0)" class="btn-menu mobile" @click="toggleMenu">
        <span class="bar"></span>
      </a>
      <div class="header-right" :class="{open: isOpenMenu}">
        <a href="javascript:void(0)" class="jpn">( JPN )</a>
        <p class="sign">
          <a href="javascript:void(0)">로그인</a> /
          <a href="javascript:void(0)">회원가입</a> 
        </p>
        <a href="javascript:void(0)" class="btn-close mobile" @click="toggleMenu">
          <img src="./img/common/icon_close_menu.png" alt="" class="mt24">
        </a>
        <div id="gnb">
          <div v-show="isOpenGnb" class="bg-depth2" @mouseover="openGnb(true)" @mouseleave="openGnb(false)"></div>
          <div v-for="(item, i) in gnb" :key="i" class="depth1" @mouseover="openGnb(true)" @mouseleave="openGnb(false)">
            {{ item.name }}
            <div v-show="isOpenGnb" class="depth2">
              <a v-for="(link, i) in item.depth2" :key="" :href="link.href" class="link">
                {{ link.name }}
              </a>
            </div>
          </div>
        </div>
        <div id="gnb-mobile" class="mobile">
          <div v-for="(item, i) in gnb" :key="i" class="depth1" @click.self="openDepth2(i)">
            {{ item.name }}
            <div v-show="item.openMobile" class="depth2">
              <a v-for="(link, i) in item.depth2" :key="" :href="link.href" class="link">
                {{ link.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div id="content-container" class="trainer">
        <img src="./img/pages/trainer/type_title.png" alt="">
        <div id="vocal" class="trainer-container">
          <h4 class="title">
            VOCAL
          </h4>
          <div class="trainer-wrap">
            <div class="trainer ceo">
              <img src="./img/pages/trainer/thumb/yang-chang-hoon.jpg" alt="">
              <p class="title-trainer">
                <strong>CEO</strong> 대표이사
                <span class="name">양 창 훈</span>
              </p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-chan-oh.jpg" alt="">
              <p class="name">김 찬 오</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/jeong-ang-jeong.jpg" alt="">
              <p class="name">정 앙 정</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/lee-ha-jeong.jpg" alt="">
              <p class="name">이 하 정</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/jeon-seung-won.jpg" alt="">
              <p class="name">전 승 원</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/go-yoo-jin.jpg" alt="">
              <p class="name">고 리 하</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/ban-ye-lim.jpg" alt="">
              <p class="name">반 예 림</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/bae-jin-uk.jpg" alt="">
              <p class="name">배 진 욱</p>
            </div>
          </div>
        </div>
        <div id="dance" class="trainer-container">
          <h4 class="title">
            DANCE
          </h4>
          <div class="trainer-wrap">
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-yeong-jin.jpg" alt="">
              <p class="name">김 영 진</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-sang-min.jpg" alt="">
              <p class="name">김 상 민</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/go-yoo-jin.jpg" alt="">
              <p class="name">고 리 하</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/lee-ha-jeong.jpg" alt="">
              <p class="name">이 하 정</p>
            </div>
          </div>
        </div>
        <div id="midi" class="trainer-container">
          <h4 class="title">
            MIDI
          </h4>
          <div class="trainer-wrap">
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-joon-hyeong.jpg" alt="">
              <p class="name">김 준 형</p>
            </div>
          </div>
        </div>
        <div id="rap" class="trainer-container">
          <h4 class="title">
            RAP
          </h4>
          <div class="trainer-wrap">
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-yeong-jin.jpg" alt="">
              <p class="name">김 영 진</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-sang-min.jpg" alt="">
              <p class="name">김 상 민</p>
            </div>
          </div>
        </div>
        <div id="piano" class="trainer-container">
          <h4 class="title">
            PIANO
          </h4>
          <div class="trainer-wrap">
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/an-so-hyeon.jpg" alt="">
              <p class="name">안 소 현</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/yoon-ji-min.jpg" alt="">
              <p class="name">윤 지 민</p>
            </div>
          </div>
        </div>
        <div id="guitar" class="trainer-container">
          <h4 class="title">
            GUITAR
          </h4>
          <div class="trainer-wrap">
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/ji-min-woo.jpg" alt="">
              <p class="name">지 민 우</p>
            </div>
            <div class="trainer">
              <img src="./img/pages/trainer/thumb/kim-joon-hyeong.jpg" alt="">
              <p class="name">김 준 형</p>
            </div>
          </div>
        </div>
        <div class="popup-details">
          <div class="details-wrap">
            <img src="./img/pages/trainer/profile/yang-chang-hoon.jpg" alt="">
            <div class="btn-prev">
              <img src="./img/pages/trainer/btn_prev.png" alt="">
            </div>
            <div class="btn-next">
              <img src="./img/pages/trainer/btn_next.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const trainers = document.querySelectorAll('.trainer-wrap .trainer');
          const popupDetails = document.querySelector('.popup-details');
          const trainerArr = [
            "go-yoo-jin",
            "kim-sang-min",
            "kim-yeong-jin",
            "kim-joon-hyeong",
            "kim-chan-oh",
            "ban-ye-lim",
            "bae-jin-uk",
            "an-so-hyeon",
            "yang-chang-hoon",
            "yoon-ji-min",
            "lee-ha-jeong",
            "jeon-seung-won",
            "jeong-ang-jeong",
            "ji-min-woo",
          ]

          // 프로필 팝업 열기
          function openPopup(src) {
            popupDetails.style.display = 'flex';
            popupDetails.children[0].children[0].src = src
            console.log(src);
            document.addEventListener('keyup', (e) => {
              console.log(e)
              if(e.keyCode === 37) {
                profileNav('prev')
              } else if(e.keyCode === 39) {
                profileNav('next')
              } else if(e.keyCode === 27) {
                closePopup()
              }
            })
          }
          
          // 프로필 팝업 닫기
          function closePopup() {
            popupDetails.style.display = 'none';
          }
          
          // 프로필 사진 클릭했을때 팝업 열기
          trainers.forEach((trainer) => {
            trainer.addEventListener('click', () => {
              const trainerSrc = trainer.children[0].src.split('/');
              console.log(trainerSrc)
              const src = `./img/pages/trainer/profile/${trainerSrc[7]}`;
              openPopup(src);
            })
          })

          // 프로필 외부 클릭했을때 팝업 닫기
          popupDetails.addEventListener('click', (e) => {
            if(e.target == popupDetails) {
              closePopup()
            }
          })

          const prev = popupDetails.querySelector('.btn-prev');
          const next = popupDetails.querySelector('.btn-next');

          // 프로필 사진 변경하는 버튼
          function profileNav(status) {
            let currentSrc = popupDetails.children[0].children[0]
            const name = currentSrc.src.split('/').slice(-1)[0].split('.').slice(0, 1);
            let currentIndex = trainerArr.indexOf(name[0]);
            console.log(status)
            if(status === 'prev') {
              currentIndex--;
              if (currentIndex < 0) {
                currentIndex = trainerArr.length - 1
              }
            } else {
              currentIndex++;
              if (currentIndex > trainerArr.length - 1) {
                currentIndex = 0
              }
            }
            currentSrc.src = `./img/pages/trainer/profile/${trainerArr[currentIndex]}.jpg`
          }
          if(popupDetails.style.display === 'flex') {
            
          }
          prev.addEventListener('keyup', (e) => console.log(e))
          prev.addEventListener('click', () => profileNav('prev'))
          next.addEventListener('click', () => profileNav('next'))
        });
      </script>
    </main>
    <footer id="footer">
      <div class="sns">
        <a v-for="(item, i) in sns" :key="" :href="item.href">{{ item.name }}</a>
      </div>
      <h2 class="logo">
        <img src="img/common/logo_footer.png" alt="">
      </h2>
      <div class="info-time">
        <h3 class="title">
          운영시간
        </h3>
        <p class="weekday">
          평&nbsp;&nbsp;&nbsp;&nbsp;일&nbsp;PM&nbsp;1:00&nbsp;-&nbsp;PM&nbsp;&nbsp;10:00
        </p>
        <p class="weekend">
          토요일&nbsp;PM&nbsp;1:00&nbsp;-&nbsp;PM&nbsp;&nbsp;&nbsp;&nbsp;7:00
        </p>
      </div>
    </footer>
    <aside id="floating-banner">
      <div class="btn-wrap">
        <a href="javascript:void(0)" class="btn open" @click="openExpand">
          <img src="img/common/btn_open.png" alt="">
        </a>
        <transition name="dropdown">
          <div v-show="isExpand" class="expand">
            <a href="javascript:void(0)" class="btn consult">
              <img src="img/common/btn_consult.png" alt="">
            </a>
            <a href="javascript:void(0)" class="btn kakao">
              <img src="img/common/btn_kakao.png" alt="">
            </a>
            <a href="javascript:void(0)" class="btn plus">
              <img src="img/common/btn_plus.png" alt="">
            </a>
          </div>
        </transition>
        <a href="javascript:void(0)" class="btn top" @click="scrollTop">
          <img src="img/common/btn_top.png" alt="">
        </a>
      </div>
    </aside>
  </div>
</body>
</html>