// button
.btn {
  display: block;

}

// swiper
.swiper-area {
  position: relative;
  overflow: hidden;
  .swiper-button-next,
  .swiper-button-prev {
    width: auto;
    height: auto;
    color: #a0a0a0;
    &::after {
      font-size: 76px;
    }
  }

  .swiper-button-prev {
    left: 24px;
  }
  .swiper-button-next {
    right: 24px;
  }
}