@include mobile {
  .pc {
    display: none;
  }
  #header {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: $inner-mobile;
    margin: 0 auto;
    padding: level(6);
    .logo {
      width: 10%;
    }
    .btn-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      .bar {
        position: relative;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #111;
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: #111;
        }
        &::before {
          top: 9px;
        }
        &::after {
          top: -9px;
        }
      }
    }
    .header-right {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      font-size: toRem(22);
      background-color: rgba(0, 0, 0, .9);
      text-align: right;
      box-sizing: border-box;
      z-index: 99;
      &.open {
        display: block;
      }
      .jpn {
        display: none;
      }
      .sign {
        display: none;
      }
      .header-mobile {
        display: flex;
        justify-content: space-between;
        padding: 30px 18px;
        border-bottom: 1px solid #fff;
      }
    }
  
    #gnb {
      display: none;
    }
    #gnb-mobile {
      justify-content: space-between;
      padding: 0 18px;
      border-top: 1px solid $bd-color;
      text-align: left;
      .depth1 {
        position: relative;
        padding-top: 22px;
        font-family: $eng;
        font-weight: 700;
        font-size: toRem(20);
        color: #fff;
        .depth2 {
          width: 100%;
          margin-top: level(4);
          font-weight: 400;
          text-align: left;
          .link {
            display: block;
            margin-top: level(3);
            font-size: toRem(14);
            color: #fff;
            &:first-child {
              margin-top: 17px;
            }
          }
        }
      }
    }
    .mobile-sign {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 14px 18px;
      font-size: toRem(10);
      color: #fff;
      a {
        color: inherit;
      }
    }
  }

  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $inner;
    margin: 0 auto;
    margin-top: level(8);
    margin-bottom: level(11);
    padding: 0 20px;
    .sns {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      padding-bottom: level(3);
      border-bottom: 1px solid $bd-color;
      font-size: toRem(12);
      > a {
        font-family: $eng;
      }
    }
    .logo {
      width: 40%;
      margin-top: level(3);
    }
    .info-time {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 210px;
      margin-top: level(3);
      font-size: toRem(12);
      .title {
        font-weight: 700;
      }
      .weekend {
        flex-basis: 100%;
        margin-top: level(4);
        text-align: right;
      }
    }
  }

  #floating-banner {
    display: none;
  }
}