@include desktop {
  #content-container {
    margin: 0 auto;
    &.main {
      max-width: $inner;
      .swiper-area.main {
        .swiper-button-prev,
        .swiper-button-next,
        .swiper-pagination {
          opacity: 0;
          transition: opacity .3s;
        }
        &:hover {
          .swiper-button-prev,
          .swiper-button-next,
          .swiper-pagination {
            opacity: 1;
          } 
        }
      }
      .slogan {
        font-family: $eng;
        font-size: toRem(40);
        font-weight: 600;
      }
      .accordion-area {
        border-top: 18px solid #111;
        border-bottom: 18px solid #111;
        .accordion {
          position: relative;
          .accordion-header {
            position: relative;
            border-top: 1px solid $bd-color;
            border-bottom: 1px solid $bd-color;
            padding: level(11) level(22);
            font-family: $eng;
            font-size: toRem(33);
            font-weight: 600;
            &::marker {
              font-size: 0;
            }
          }
          &[open] {
            .accordion-header::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 24px;
              height: 100%;
              background-color: #c5ff00;;
            }
          }
          .accordion-body {
            position: relative;
            overflow: hidden;
            transition: height .3s;
            &.onair {
              text-align: center;
              .bg-onair {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
              }
              .title {
                display: block;
                padding-top: 32px;
              }
              .swiper-area {
                .swiper-slide img {
                  width: 100%;
                }
                .swiper-button-prev,
                .swiper-button-next {
                  display: block;
                  position: relative;
                  top: auto;
                  left: auto;
                  right: auto;
                  width: auto;
                  height: auto;
                  margin-top: auto;
                  &::after {
                    content: none;
                  }
                }
                .btn-wrap {
                  display: flex;
                  justify-content: space-between;
                  padding: level(7);
                  padding-bottom: level(8);
                }
              }
            }
            &.academy {
              display: flex;
              gap: 0 level(6);
              .box-exam {
                width: calc(100% - 24px);
                background-color: rgba(183, 183, 183, .2);
                text-align: right;
                .title {
                  margin-top: 42px;
                  text-align: center;
                }
                .subtitle {
                  margin-top: 24px;
                  padding-bottom: 30px;
                  border-bottom: 1px solid $bd-color;
                  font-size: 30px;
                  text-align: center;
                }
                .img-wrap {
                  margin: level(5);
                  img {
                    width: 100%;
                  }
                }
              }
            }
            &.audition {
              display: flex;
              flex-wrap: wrap;
              gap: level(6)
            }
          }
        }
      }
      .popup-youtube {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color:rgba(0, 0, 0, .7)
      }
    }
  }

  // about-greetings
  #content-container.greetings {
    .img-wrap {
      &.inner {
        margin: 0 auto;
        max-width: $inner

      }
      &.bt {
        border-top: 1px solid $bd-color;

      }
      &.center {
        text-align: center;
      }
      
      &.mt100 {
        margin-top: 100px;
      }

      &.mt132 {
        margin-top: 132px;
      }

      &.part2 {
        margin-top: 100px;
        background-color: #000;
        .title {
          padding-top: 52px;
        }
        .before {
          margin-bottom: 84px;
        }
        .expand {
          margin: 0 auto;
          padding-bottom: 100px;
          transition: height .3s;
        }
      }
    }
  }

  // about-facility
  #content-container.facility {
    margin: 0 auto;
    max-width: $inner;
    .facility-wrap {
      padding: 48px 0;
      background-color: #000;
      text-align: center;
      .swiper-area.main {
        .swiper-button-prev,
        .swiper-button-next {
          color: #ceff00;
        }
        .swiper-button-prev {
          left: 44px;
        }
        .swiper-button-next {
          right: 44px;
        }
      }
      .thumbnail-area {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 80px;
        img {
          width: calc((100% - 72px) / 4);
        }
      }
      .logo-bottom {
        width: 200px;
        margin-top: 44px;
      }
    }
  }

  // about-way
  #content-container.way {
    max-width: $inner;
    margin: 0 auto;
    .way-wrap {
      display: flex;
      gap: 0 24px;
      .info-way {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .marker {
          width: 55px;
        }
        .title {
          font-size: 32px;
          font-weight: 700;
          .eng {
            display: block;
            font-family: $eng;
            font-size: 24px;
            font-weight: 600;
          }
        }
        .content {
          font-size: 18px;
          &.eng {
            font-family: $eng;
          }
        }
        .bar {
          width: 200px;
          height: 8px;
          background-color: #000;
        }
        .icon-wrap {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          li {
            display: flex;
            align-items: center;
            img {
              width: 88px;
              & + p {
                margin-left: 24px;
                font-size: 22px;
                color: #525252;
              }
            }
          }
        }
      }
    }
  }

  // trainer
  #content-container.trainer {
    max-width: $inner;
    margin: 0 auto;
    margin-top: 44px;
    .trainer-container {
      display: flex;
      margin-top: level(20);
      .title {
        width: 200px;
        border-top: 13px solid #1b1b1b;
        padding-top: level(11);
        font-family: $eng;
        font-size: toRem(44);
        font-weight: 700;
      }

      & + .trainer-container {
        margin-top: level(26);
      }
      .trainer-wrap {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 200px - 136px);
        margin-left: 136px;
        gap: level(7) level(6);
        .trainer {
          cursor: pointer;
          .name {
            margin-top: 24px;
            font-size: toRem(34);
            text-align: center;
          }
          &.ceo {
            flex: 1 1 100%;
            display: flex;
            align-items: flex-end;
            margin-bottom: level(14);
            .title-trainer {
              font-size: toRem(38);
              font-weight: 700;
              strong {
                font-family: $eng;
                font-size: toRem(40);
                margin-right: level;
              }
              .name {
                display: block;
                text-align: left;
                font-size: toRem(36);
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .popup-details {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(27, 27, 27, .6);
      .details-wrap {
        position: relative;
        .btn-prev,
        .btn-next {
          position: absolute;
          width: 100px;
          top: 50%;
        }
        .btn-prev {
          left: -24px;
          transform: translate(-100%, -50%);
        }
        .btn-next {
          right: -24px;
          transform: translate(100%, -50%);
        }
      }
    }
  }

  // class
  #content-container.class {
    .banner-top {
      text-align: center;
      background-color: #000;
    }
    .btn-wrap.tab-main {
      display: flex;
      justify-content: space-between;
      max-width: $inner;
      margin: 0 auto;
      margin-top: level(12);
      padding: 0 level(8);
      .btn {
        width: 250px;
      }
    }
    .tab-body {
      max-width: $inner;
      margin: 0 auto;
      margin-top: level(12);
      .section {
        img + .text {
          font-size: toRem(20);
          padding-left: level(15);
        }
        .content-img {
          display: block;
          margin: 0 auto;
          margin-top: level(11);
        }
        .content-text {
          margin-top: level(10);
          font-size: 22px;
          line-height: 1.36;
        }

        & + .section {
          margin-top: 44px;
        }

        &.class {
          .class-wrap {
            .btn-wrap.tab-sub {
              display: flex;
              justify-content: space-between;
              margin-top: level(11);
              a {
                .on {
                  display: none;
                }
                .off {
                  display: inline;
                }
                &.active {
                  .on {
                    display: inline;
                  }
                  .off {
                    display: none;
                  }
                }
              }
              & + .tab-body {
                margin-top: level(19);
                img {
                  display: none;
                  &.active {
                    display: inline;
                  }
                }
              }
            }
          }
        }
        
        &.onmusic {
          margin-top: level(62);
          border-top: 1px solid $bd-color;
          padding-top: level(11);
        }
      }

      #tab-kids {
        .section {
          &.class {
            border-top: 1px solid $bd-color;
            padding-top: level(11);
          }
          &.onmusic {
            margin-top: level(11);
          }
        }
      }
      #tab-audition {
        .section {
          &.onmusic {
            margin-top: level(11);
          }
        }
      }
    }
  }
}