$inner: 1320px;
$inner-mobile: 720px;
$eng: 'Montserrat';
$kor: 'Noto Sans KR';

$bd-color: rgba(9, 1, 3, .28);

$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@function level($level) {
  @return $level * 4px;
}

@function toRem($fs) {
  @return $fs * 0.0625rem;
}

.mt8 {margin-top: level(2) !important;}
.mt12 {margin-top: level(3) !important;}
.mt16 {margin-top: level(4) !important;}
.mt20 {margin-top: level(5) !important;}
.mt24 {margin-top: level(6) !important;}
.mt32 {margin-top: level(8) !important;}
.mt36 {margin-top: level(9) !important;}
.mt48 {margin-top: level(12) !important;}
.mt60 {margin-top: level(15) !important;}